#search {
    margin-bottom: 3rem;
}
* {
    box-sizing: border-box;
    padding: 0;
    color: var(--text-color);
    font-family: "articulat-cf";
}

:root,
    :root.default {
        --primary-color: #e36a0e;
        --secondary-color: #F68B00;
        --tertiary-color: dodgerblue;
        --bg-color: #2d333d;
        --secondary-bg-color: #d5dfe3;
        --highlight-color: black;
        --text-color: aliceblue;
}

body {
    background:var(--bg-color);
    display: flex;
    width: fit-content;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
body>*{
    width: 100%;
    max-width: 600px;
}

button {
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    padding: 8px;
}
button:hover {
    cursor: pointer;
    background-color: var(--secondary-color);
    transition: 300ms;
}

input {
    color: black;
    background-color: var(--secondary-bg-color);
}


.custom-select {
    position: relative;
    font-family: articulat-cf;
}


.custom-select-1 {
    background-color: var(--tertiary-color);
    padding: 8px;
    border-radius: 5px;
    border: none;
}

.custom-select-1-select {
    background-color: var(--secondary-color);
}

.disabled {
    background-color: rgb(131, 131, 131);
    color: rgb(195, 195, 195)
}
